---
const { type, children } = Astro.props;
---
<div>
  {type == "check" ? (
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4"
         role="alert">
      <p class="font-bold">Check</p>
      <p>{children}</p>
    </div>
  ) : type == "info" ? (
    <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4"
         role="alert">
      <p class="font-bold">Info</p>
      <p>{children}</p>
    </div>
  ) : type == "warning" ? (
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4"
         role="alert">
      <p class="font-bold">Warning</p>
      <p>{children}</p>
    </div>
  ) : type == "error" ? (
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4"
         role="alert">
      <p class="font-bold">Error</p>
      <p>{children}</p>
    </div>
  ) : (
    <div class="bg-gray-100 border-l-4 border-gray-500 text-gray-700 p-4"
         role="alert">
      <p class="font-bold">Note</p>
      <p>{children}</p>
    </div>
  )}
</div>
