---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;

function formatDate(date: Date) {
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  });
}
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article class="prose lg:prose-xl mx-auto">
    <h1>{frontmatter.title}</h1>
    <p class="text-gray-600">Published on {formatDate(frontmatter.pubDate)} by {frontmatter.author}</p>
    <slot />
  </article>
</Layout>